:host {

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.form-container {

  margin-top: 66px;
  margin-bottom: 240px;
  box-sizing: border-box;


  width: 1007px;
  background: #fff;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;

  padding: 84px 63px 66px 63px;


  gap: 33px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

label span {
  color: red;
}

input, textarea {

  height: 57px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 136px;
}


.bg-1 {

  align-self: center;

}
